
* {
    box-sizing: border-box;
}
body{
    background-color: #ffc8dd;
}
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#container h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#container img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#container2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#no, #yes {
    width: 80px;
    height: 50px;
    border: 0;
    background-color: #cdb4db;
    color: white;
    cursor: pointer;
}
#yes {
    margin-right: 5px;
}
#no {
    margin-left: 5px;
}

@media screen and (min-width: 1000px) {
    #yes {
        left: 37%;
    }
}

@media screen and (min-width: 1300px) {
    #yes {
        left: 45%;
    }
}